engine_service2.svc.xml

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Engine_WebService_Externo" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://schemas.datacontract.org/2004/07/Engine_WebService_Externo"><xs:complexType name="Arquivo"><xs:sequence><xs:element name="Nome" nillable="true" type="xs:string"/><xs:element name="Conteudo" nillable="true" type="xs:base64Binary"/></xs:sequence></xs:complexType><xs:element name="Arquivo" nillable="true" type="tns:Arquivo"/><xs:complexType name="InformacaoAutenticacao"><xs:sequence><xs:element name="Login" nillable="true" type="xs:string"/><xs:element minOccurs="0" name="CNPJ" nillable="true" type="xs:string"/><xs:element name="Senha" nillable="true" type="xs:string"/></xs:sequence></xs:complexType><xs:element name="InformacaoAutenticacao" nillable="true" type="tns:InformacaoAutenticacao"/></xs:schema>
